<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jb.radar" android:versionCode="18" android:versionName="0.18.0">
<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
<application android:label="AIR DEFENSE" android:theme="@android:style/Theme.Material.NoActionBar" android:icon="@drawable/icon" android:allowBackup="false" android:supportsRtl="true">
<activity android:name=".MainActivity" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
</application></manifest>
